
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

form {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

p {
  visibility: hidden;
}

.aprovado {
  visibility: visible;
  color: #00aa00;
}

.reprovado {
  visibility: visible;
  color: #aa0000;
}

.recuperacao {
  visibility: visible;
  color: #aa8f00;
}

footer {
  background-color: #e9f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  width: 98%;
}

#outsideNav {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 13px;
}
