
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#mainButton {
  color: #ffffff;
  background-color: #15803d;
  border: hidden;
  border-radius: 7px;
  padding: 16px 32px;
}

footer {
  background-color: #e9f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  width: 98%;
}

#outsideNav {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 13px;
}

p {
  visibility: hidden;
}